<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Ualbany</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>csdept.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>csdept.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReserveCheckServlet</display-name>
    <servlet-name>ReserveCheckServlet</servlet-name>
    <servlet-class>csdept.ReserveCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReserveCheckServlet</servlet-name>
    <url-pattern>/ReserveCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakeReservationServlet</display-name>
    <servlet-name>MakeReservationServlet</servlet-name>
    <servlet-class>csdept.MakeReservationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeReservationServlet</servlet-name>
    <url-pattern>/MakeReservationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CancelResourceServlet</display-name>
    <servlet-name>CancelResourceServlet</servlet-name>
    <servlet-class>csdept.CancelResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CancelResourceServlet</servlet-name>
    <url-pattern>/CancelResourceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmCancelResServlet</display-name>
    <servlet-name>ConfirmCancelResServlet</servlet-name>
    <servlet-class>csdept.ConfirmCancelResServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmCancelResServlet</servlet-name>
    <url-pattern>/ConfirmCancelResServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourseInfoServlet</display-name>
    <servlet-name>AddCourseInfoServlet</servlet-name>
    <servlet-class>csdept.AddCourseInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourseInfoServlet</servlet-name>
    <url-pattern>/AddCourseInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayCourseInfo</display-name>
    <servlet-name>DisplayCourseInfo</servlet-name>
    <servlet-class>csdept.DisplayCourseInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayCourseInfo</servlet-name>
    <url-pattern>/DisplayCourseInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>csdept.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCourseServlet</display-name>
    <servlet-name>UpdateCourseServlet</servlet-name>
    <servlet-class>csdept.UpdateCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCourseServlet</servlet-name>
    <url-pattern>/UpdateCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCourseInfoServlet</display-name>
    <servlet-name>DeleteCourseInfoServlet</servlet-name>
    <servlet-class>csdept.DeleteCourseInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCourseInfoServlet</servlet-name>
    <url-pattern>/DeleteCourseInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQuestionServlet</display-name>
    <servlet-name>AddQuestionServlet</servlet-name>
    <servlet-class>csdept.AddQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQuestionServlet</servlet-name>
    <url-pattern>/AddQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayDiscoServlet</display-name>
    <servlet-name>DisplayDiscoServlet</servlet-name>
    <servlet-class>csdept.DisplayDiscoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayDiscoServlet</servlet-name>
    <url-pattern>/DisplayDiscoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayQuestionServlet</display-name>
    <servlet-name>DisplayQuestionServlet</servlet-name>
    <servlet-class>csdept.DisplayQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayQuestionServlet</servlet-name>
    <url-pattern>/DisplayQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyServlet</display-name>
    <servlet-name>ReplyServlet</servlet-name>
    <servlet-class>csdept.ReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyServlet</servlet-name>
    <url-pattern>/ReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAnncServlet</display-name>
    <servlet-name>AddAnncServlet</servlet-name>
    <servlet-class>csdept.AddAnncServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAnncServlet</servlet-name>
    <url-pattern>/AddAnncServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAnncServlet</display-name>
    <servlet-name>DisplayAnncServlet</servlet-name>
    <servlet-class>csdept.DisplayAnncServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAnncServlet</servlet-name>
    <url-pattern>/DisplayAnncServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAnncServlet</display-name>
    <servlet-name>DeleteAnncServlet</servlet-name>
    <servlet-class>csdept.DeleteAnncServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAnncServlet</servlet-name>
    <url-pattern>/DeleteAnncServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAppServlet</display-name>
    <servlet-name>UpdateAppServlet</servlet-name>
    <servlet-class>csdept.UpdateAppServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAppServlet</servlet-name>
    <url-pattern>/UpdateAppServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAServlet</display-name>
    <servlet-name>UpdateAServlet</servlet-name>
    <servlet-class>csdept.UpdateAServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAServlet</servlet-name>
    <url-pattern>/UpdateAServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCourseServlet</display-name>
    <servlet-name>AddCourseServlet</servlet-name>
    <servlet-class>csdept.AddCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCourseServlet</servlet-name>
    <url-pattern>/AddCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayPhd</display-name>
    <servlet-name>DisplayPhd</servlet-name>
    <servlet-class>csdept.DisplayPhd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayPhd</servlet-name>
    <url-pattern>/DisplayPhd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>savePhdStatusServlet</display-name>
    <servlet-name>savePhdStatusServlet</servlet-name>
    <servlet-class>csdept.savePhdStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>savePhdStatusServlet</servlet-name>
    <url-pattern>/savePhdStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddResServlet</display-name>
    <servlet-name>AddResServlet</servlet-name>
    <servlet-class>csdept.AddResServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddResServlet</servlet-name>
    <url-pattern>/AddResServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddResultsServlet</display-name>
    <servlet-name>AddResultsServlet</servlet-name>
    <servlet-class>csdept.AddResultsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddResultsServlet</servlet-name>
    <url-pattern>/AddResultsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayExamServlet</display-name>
    <servlet-name>DisplayExamServlet</servlet-name>
    <servlet-class>csdept.DisplayExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayExamServlet</servlet-name>
    <url-pattern>/DisplayExamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewExamServlet</display-name>
    <servlet-name>ViewExamServlet</servlet-name>
    <servlet-class>csdept.ViewExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewExamServlet</servlet-name>
    <url-pattern>/ViewExamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateExamServlet</display-name>
    <servlet-name>UpdateExamServlet</servlet-name>
    <servlet-class>csdept.UpdateExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateExamServlet</servlet-name>
    <url-pattern>/UpdateExamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteExamServlet</display-name>
    <servlet-name>DeleteExamServlet</servlet-name>
    <servlet-class>csdept.DeleteExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteExamServlet</servlet-name>
    <url-pattern>/DeleteExamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAlumniServlet</display-name>
    <servlet-name>AddAlumniServlet</servlet-name>
    <servlet-class>csdept.AddAlumniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAlumniServlet</servlet-name>
    <url-pattern>/AddAlumniServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAlumniServlet</display-name>
    <servlet-name>DisplayAlumniServlet</servlet-name>
    <servlet-class>csdept.DisplayAlumniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAlumniServlet</servlet-name>
    <url-pattern>/DisplayAlumniServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>saveAlumniServlet</display-name>
    <servlet-name>saveAlumniServlet</servlet-name>
    <servlet-class>csdept.saveAlumniServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveAlumniServlet</servlet-name>
    <url-pattern>/saveAlumniServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePostServlet</display-name>
    <servlet-name>DeletePostServlet</servlet-name>
    <servlet-class>csdept.DeletePostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePostServlet</servlet-name>
    <url-pattern>/DeletePostServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteReplyServlet</display-name>
    <servlet-name>DeleteReplyServlet</servlet-name>
    <servlet-class>csdept.DeleteReplyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteReplyServlet</servlet-name>
    <url-pattern>/DeleteReplyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>csdept.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterExamServlet</display-name>
    <servlet-name>RegisterExamServlet</servlet-name>
    <servlet-class>csdept.RegisterExamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterExamServlet</servlet-name>
    <url-pattern>/RegisterExamServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sendEmailServlet</display-name>
    <servlet-name>sendEmailServlet</servlet-name>
    <servlet-class>csdept.sendEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sendEmailServlet</servlet-name>
    <url-pattern>/sendEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>joblistServlet</display-name>
    <servlet-name>joblistServlet</servlet-name>
    <servlet-class>csdept.joblistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>joblistServlet</servlet-name>
    <url-pattern>/joblistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>csdept.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>